<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<h1>Products</h1>
<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product_path(product) %> - <%= number_to_currency(product.price) %>
    </li>
  <% end %>
</ul>

<h1><%= @product.title %></h1>
<p><%= @product.description %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Stock Quantity: <%= @product.stock_quantity %></p>
<%= link_to 'Back to Products', products_path %>

<ul>
  <% @products.each do |product| %>
    <li>
      <%= link_to product.title, product_path(product) %> - <%= number_to_currency(product.price) %>
    </li>
  <% end %>
</ul>
